@font-face {
	font-family: 'faicon';
	src:  url('../fonts/faicon.eot?z9zeto');
	src:  url('../fonts/faicon.eot?z9zeto#iefix') format('embedded-opentype'),
	url('../fonts/faicon.ttf?z9zeto') format('truetype'),
	url('../fonts/faicon.woff?z9zeto') format('woff'),
	url('../fonts/faicon.svg?z9zeto#faicon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="faicon-"], [class*=" faicon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'faicon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga";
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.faicon-logo .path1:before {
	content: "\e930";
	color: rgb(255, 255, 255);
}
.faicon-logo .path2:before {
	content: "\e931";
	margin-left: -0.9423828125em;
	color: rgb(255, 121, 0);
}
.faicon-logo .path3:before {
	content: "\e932";
	margin-left: -0.9423828125em;
	color: rgb(255, 121, 0);
}
.faicon-logo .path4:before {
	content: "\e933";
	margin-left: -0.9423828125em;
	color: rgb(255, 121, 0);
}
.faicon-badge:before {
	content: "\e907";
	color: #ff7900;
}
.faicon-login:before {
	content: "\e900";
}
.faicon-register:before {
	content: "\e901";
}
.faicon-advance-tooltip:before {
	content: "\e902";
}
.faicon-advanced-accordion:before {
	content: "\e903";
}
.faicon-advanced-data-table:before {
	content: "\e904";
}
.faicon-advanced-google-maps:before {
	content: "\e905";
}
.faicon-advanced-menu:before {
	content: "\e906";
}
.faicon-advanced-tabs:before {
	content: "\e908";
}
.faicon-betterdocs-category-box:before {
	content: "\e909";
}
.faicon-betterdocs-category-grid:before {
	content: "\e90a";
}
.faicon-betterdocs-search-form:before {
	content: "\e90b";
}
.faicon-caldera-forms:before {
	content: "\e90c";
}
.faicon-call-to-action:before {
	content: "\e90d";
}
.faicon-contact-form-7:before {
	content: "\e90e";
}
.faicon-content-ticker:before {
	content: "\e90f";
}
.faicon-content-timeline:before {
	content: "\e910";
}
.faicon-content-toggle:before {
	content: "\e911";
}
.faicon-countdown:before {
	content: "\e912";
}
.faicon-counter:before {
	content: "\e913";
}
.faicon-creative-button:before {
	content: "\e914";
}
.faicon-data-table:before {
	content: "\e915";
}
.faicon-divider:before {
	content: "\e916";
}
.faicon-dual-color-heading:before {
	content: "\e917";
}
.faicon-duplicator:before {
	content: "\e918";
}
.faicon-dynamic-gallery:before {
	content: "\e919";
}
.faicon-embedpress:before {
	content: "\e91a";
}
.faicon-event-calendar:before {
	content: "\e91b";
}
.faicon-facebook-feed-carousel:before {
	content: "\e91c";
}
.faicon-facebook-feed:before {
	content: "\e91d";
}
.faicon-fancy-text:before {
	content: "\e91e";
}
.faicon-feature-list:before {
	content: "\e91f";
}
.faicon-filterable-gallery:before {
	content: "\e920";
}
.faicon-flip-box:before {
	content: "\e921";
}
.faicon-flip-carousel:before {
	content: "\e922";
}
.faicon-fluent-forms:before {
	content: "\e923";
}
.faicon-formstack:before {
	content: "\e924";
}
.faicon-gravity-form:before {
	content: "\e925";
}
.faicon-image-accrodion:before {
	content: "\e926";
}
.faicon-image-comparison:before {
	content: "\e927";
}
.faicon-image-hotspots:before {
	content: "\e928";
}
.faicon-image-scroller:before {
	content: "\e929";
}
.faicon-info-box:before {
	content: "\e92a";
}
.faicon-instagram-feed:before {
	content: "\e92b";
}
.faicon-interactive-cards:before {
	content: "\e92c";
}
.faicon-interactive-promo:before {
	content: "\e92d";
}
.faicon-learndash:before {
	content: "\e92e";
}
.faicon-lightbox-modal:before {
	content: "\e92f";
}
.faicon-logo-carousel:before {
	content: "\e934";
}
.faicon-mailchimp:before {
	content: "\e935";
}
.faicon-ninja-forms:before {
	content: "\e936";
}
.faicon-offcanvas:before {
	content: "\e937";
}
.faicon-one-page-navigaton:before {
	content: "\e938";
}
.faicon-parallax-effects:before {
	content: "\e939";
}
.faicon-particle-effects:before {
	content: "\e93a";
}
.faicon-post-block:before {
	content: "\e93b";
}
.faicon-post-carousel:before {
	content: "\e93c";
}
.faicon-post-grid:before {
	content: "\e93d";
}
.faicon-post-timeline:before {
	content: "\e93e";
}
.faicon-price-menu:before {
	content: "\e93f";
}
.faicon-pricing-table:before {
	content: "\e940";
}
.faicon-product-grid:before {
	content: "\e941";
}
.faicon-progress-bar:before {
	content: "\e942";
}
.faicon-protected-content:before {
	content: "\e943";
}
.faicon-reading-progress-bar:before {
	content: "\e944";
}
.faicon-smart-post-list:before {
	content: "\e945";
}
.faicon-static-product:before {
	content: "\e946";
}
.faicon-sticky-video:before {
	content: "\e947";
}
.faicon-table-of-content:before {
	content: "\e948";
}
.faicon-team-mamber:before {
	content: "\e949";
}
.faicon-team-member-carousel:before {
	content: "\e94a";
}
.faicon-testimonial-slider:before {
	content: "\e94b";
}
.faicon-testimonial:before {
	content: "\e94c";
}
.faicon-tooltip:before {
	content: "\e94d";
}
.faicon-twitter-feed-carousel:before {
	content: "\e94e";
}
.faicon-twitter-feed:before {
	content: "\e94f";
}
.faicon-weforms:before {
	content: "\e950";
}
.faicon-woo-product-collections:before {
	content: "\e951";
}
.faicon-wpforms:before {
	content: "\e952";
}
.faicon-woo-checkout:before {
	content: "\e953";
}
.faicon-typeform:before {
	content: "\e954";
}
.faicon-reviewx:before {
	content: "\e955";
}
.faicon-easyjobs:before {
	content: "\e956";
}
.faicon-productcompare:before {
	content: "\e957";
}
.faicon-Products-Carousel:before {
	content: "\e958";
}
.faicon-Camp:before {
	content: "\e959";
}
.faicon-org:before {
	content: "\e95a";
}
.faicon-Single-Camp:before {
	content: "\e95b";
}
.faicon-productslider_elementor:before {
	content: "\e95c";
}
.faicon-menu_elementor:before {
	content: "\e95d";
}
.faicon-Woo_Product_Gallery_panel:before {
	content: "\e95e";
}
.faicon-Woocarticon:before {
	content: "\e95f";
}
.faicon-circleinfo_widget:before {
	content: "\e960";
}
.faicon-EA-advancesearch:before {
	content: "\e961";
}
.faicon-better-payment:before {
	content: "\e962";
}
.faicon-eye-solid:before {
	content: "\e963";
}
.faicon-eye-slash-solid:before {
	content: "\e964";
}
.faicon-ban-solid:before {
	content: "\e965";
}
.faicon-dice-six-solid:before {
	content: "\e966";
}
.faicon-dice-one-solid:before {
	content: "\e967";
}
.faicon-equals-solid:before {
	content: "\e968";
}
.faicon-not-equal-solid:before {
	content: "\e969";
}
.faicon-folder-open-solid:before {
	content: "\e96a";
}
.faicon-folder-open-regular:before {
	content: "\e96b";
}
.faicon-user-solid:before {
	content: "\e96c";
}
.faicon-user-slash-solid:before {
	content: "\e96d";
}
.faicon-xmark-solid:before {
	content: "\e96e";
}
.faicon-check-solid:before {
	content: "\e96f";
}
.faicon-users-solid:before {
	content: "\e970";
}
.faicon-user-plus-solid:before {
	content: "\e971";
}
.faicon-nft-gallery:before {
	content: "\e972";
}
.faicon-business-reviews:before {
	content: "\e973";
}
.faicon-svg-draw:before {
	content: "\e974";
}
.faicon-thank-you:before {
	content: "\e975";
}
.faicon-woo-cross-sells:before {
	content: "\e976";
}
.faicon-account:before {
	content: "\e977";
}
.faicon-dashboard-fill:before {
	content: "\e978";
}
.faicon-checkbox-circle:before {
	content: "\e979";
}
.faicon-download-fill:before {
	content: "\e97a";
}
.faicon-download1:before {
	content: "\e97b";
}
.faicon-edit-fill:before {
	content: "\e97c";
}
.faicon-eye-line:before {
	content: "\e97d";
}
.faicon-infinity-line:before {
	content: "\e97e";
}
.faicon-login-box:before {
	content: "\e97f";
}
.faicon-map-2:before {
	content: "\e980";
}
.faicon-not-alowed:before {
	content: "\e981";
}
.faicon-orders:before {
	content: "\e982";
}
.faicon-woo-account-dashboard:before {
	content: "\e983";
}
.faicon-eael-fancy-chart:before {
	content: "\e984";
}
.faicon-woo-product-list:before {
	content: "\e985";
}
.faicon-rating:before {
	content: "\eb9c";
}
.faicon-post-taxonomy:before {
	content: "\eb9d";
}
.faicon-angle-down:before {
	content: "\e986";
}
.faicon-angle-right:before {
	content: "\e987";
}
.faicon-doc:before {
	content: "\e988";
}
.faicon-edit:before {
	content: "\e989";
}
.faicon-element:before {
	content: "\e98a";
}
.faicon-extension:before {
	content: "\e98b";
}
.faicon-gear-alt:before {
	content: "\e98c";
}
.faicon-gear:before {
	content: "\e98d";
}
.faicon-lock-alt:before {
	content: "\e98e";
}
.faicon-long-arrow-right:before {
	content: "\e98f";
}
.faicon-monitor:before {
	content: "\e990";
}
.faicon-play-alt:before {
	content: "\e991";
}
.faicon-plug:before {
	content: "\e992";
}
.faicon-question1:before {
	content: "\e993";
}
.faicon-star:before {
	content: "\e994";
}
.faicon-support:before {
	content: "\e995";
}
.faicon-times:before {
	content: "\e996";
}
.faicon-tools:before {
	content: "\e997";
}
.faicon-calendar1:before {
	content: "\e998";
}
.faicon-course:before {
	content: "\e999";
}
.faicon-form:before {
	content: "\e99a";
}
.faicon-gallery:before {
	content: "\e99b";
}
.faicon-image-hotspot:before {
	content: "\e99c";
}
.faicon-instagram1:before {
	content: "\e99d";
}
.faicon-marker:before {
	content: "\e99e";
}
.faicon-modal:before {
	content: "\e99f";
}
.faicon-parallax:before {
	content: "\e9a0";
}
.faicon-particel:before {
	content: "\e9a1";
}
.faicon-toggle:before {
	content: "\e9a2";
}
.faicon-tooltip1:before {
	content: "\e9a3";
}
.faicon-community:before {
	content: "\e9a4";
}
.faicon-contribute:before {
	content: "\e9a5";
}
.faicon-uniE920:before {
	content: "\e9a6";
}
.faicon-uniE921:before {
	content: "\e9a7";
}
.faicon-uniE922:before {
	content: "\e9a8";
}
.faicon-uniE923:before {
	content: "\e9a9";
}
.faicon-uniE924:before {
	content: "\e9aa";
}
.faicon-uniE925:before {
	content: "\e9ab";
}
.faicon-uniE926:before {
	content: "\e9ac";
}
.faicon-uniE927:before {
	content: "\e9ad";
}
.faicon-uniE928:before {
	content: "\e9ae";
}
.faicon-uniE929:before {
	content: "\e9af";
}
.faicon-lock1:before {
	content: "\e9b0";
}
.faicon-home:before {
	content: "\e9b1";
}
.faicon-home2:before {
	content: "\e9b2";
}
.faicon-home3:before {
	content: "\e9b3";
}
.faicon-office:before {
	content: "\e9b4";
}
.faicon-newspaper:before {
	content: "\e9b5";
}
.faicon-pencil:before {
	content: "\e9b6";
}
.faicon-pencil2:before {
	content: "\e9b7";
}
.faicon-quill:before {
	content: "\e9b8";
}
.faicon-pen:before {
	content: "\e9b9";
}
.faicon-blog:before {
	content: "\e9ba";
}
.faicon-eyedropper:before {
	content: "\e9bb";
}
.faicon-droplet:before {
	content: "\e9bc";
}
.faicon-paint-format:before {
	content: "\e9bd";
}
.faicon-image:before {
	content: "\e9be";
}
.faicon-images:before {
	content: "\e9bf";
}
.faicon-camera:before {
	content: "\e9c0";
}
.faicon-headphones:before {
	content: "\e9c1";
}
.faicon-music:before {
	content: "\e9c2";
}
.faicon-play:before {
	content: "\e9c3";
}
.faicon-film:before {
	content: "\e9c4";
}
.faicon-video-camera:before {
	content: "\e9c5";
}
.faicon-dice:before {
	content: "\e9c6";
}
.faicon-pacman:before {
	content: "\e9c7";
}
.faicon-spades:before {
	content: "\e9c8";
}
.faicon-clubs:before {
	content: "\e9c9";
}
.faicon-diamonds:before {
	content: "\e9ca";
}
.faicon-bullhorn:before {
	content: "\e9cb";
}
.faicon-connection:before {
	content: "\e9cc";
}
.faicon-podcast:before {
	content: "\e9cd";
}
.faicon-feed:before {
	content: "\e9ce";
}
.faicon-mic:before {
	content: "\e9cf";
}
.faicon-book:before {
	content: "\e9d0";
}
.faicon-books:before {
	content: "\e9d1";
}
.faicon-library:before {
	content: "\e9d2";
}
.faicon-file-text:before {
	content: "\e9d3";
}
.faicon-profile:before {
	content: "\e9d4";
}
.faicon-file-empty:before {
	content: "\e9d5";
}
.faicon-files-empty:before {
	content: "\e9d6";
}
.faicon-file-text2:before {
	content: "\e9d7";
}
.faicon-file-picture:before {
	content: "\e9d8";
}
.faicon-file-music:before {
	content: "\e9d9";
}
.faicon-file-play:before {
	content: "\e9da";
}
.faicon-file-video:before {
	content: "\e9db";
}
.faicon-file-zip:before {
	content: "\e9dc";
}
.faicon-copy:before {
	content: "\e9dd";
}
.faicon-paste:before {
	content: "\e9de";
}
.faicon-stack:before {
	content: "\e9df";
}
.faicon-folder:before {
	content: "\e9e0";
}
.faicon-folder-open:before {
	content: "\e9e1";
}
.faicon-folder-plus:before {
	content: "\e9e2";
}
.faicon-folder-minus:before {
	content: "\e9e3";
}
.faicon-folder-download:before {
	content: "\e9e4";
}
.faicon-folder-upload:before {
	content: "\e9e5";
}
.faicon-price-tag:before {
	content: "\e9e6";
}
.faicon-price-tags:before {
	content: "\e9e7";
}
.faicon-barcode:before {
	content: "\e9e8";
}
.faicon-qrcode:before {
	content: "\e9e9";
}
.faicon-ticket:before {
	content: "\e9ea";
}
.faicon-cart:before {
	content: "\e9eb";
}
.faicon-coin-dollar:before {
	content: "\e9ec";
}
.faicon-coin-euro:before {
	content: "\e9ed";
}
.faicon-coin-pound:before {
	content: "\e9ee";
}
.faicon-coin-yen:before {
	content: "\e9ef";
}
.faicon-credit-card:before {
	content: "\e9f0";
}
.faicon-calculator:before {
	content: "\e9f1";
}
.faicon-lifebuoy:before {
	content: "\e9f2";
}
.faicon-phone:before {
	content: "\e9f3";
}
.faicon-phone-hang-up:before {
	content: "\e9f4";
}
.faicon-address-book:before {
	content: "\e9f5";
}
.faicon-envelop:before {
	content: "\e9f6";
}
.faicon-pushpin:before {
	content: "\e9f7";
}
.faicon-location:before {
	content: "\e9f8";
}
.faicon-location2:before {
	content: "\e9f9";
}
.faicon-compass:before {
	content: "\e9fa";
}
.faicon-compass2:before {
	content: "\e9fb";
}
.faicon-map:before {
	content: "\e9fc";
}
.faicon-map2:before {
	content: "\e9fd";
}
.faicon-history:before {
	content: "\e9fe";
}
.faicon-clock:before {
	content: "\e9ff";
}
.faicon-clock2:before {
	content: "\ea00";
}
.faicon-alarm:before {
	content: "\ea01";
}
.faicon-bell:before {
	content: "\ea02";
}
.faicon-stopwatch:before {
	content: "\ea03";
}
.faicon-calendar:before {
	content: "\ea04";
}
.faicon-printer:before {
	content: "\ea05";
}
.faicon-keyboard:before {
	content: "\ea06";
}
.faicon-display:before {
	content: "\ea07";
}
.faicon-laptop:before {
	content: "\ea08";
}
.faicon-mobile:before {
	content: "\ea09";
}
.faicon-mobile2:before {
	content: "\ea0a";
}
.faicon-tablet:before {
	content: "\ea0b";
}
.faicon-tv:before {
	content: "\ea0c";
}
.faicon-drawer:before {
	content: "\ea0d";
}
.faicon-drawer2:before {
	content: "\ea0e";
}
.faicon-box-add:before {
	content: "\ea0f";
}
.faicon-box-remove:before {
	content: "\ea10";
}
.faicon-download:before {
	content: "\ea11";
}
.faicon-upload:before {
	content: "\ea12";
}
.faicon-floppy-disk:before {
	content: "\ea13";
}
.faicon-drive:before {
	content: "\ea14";
}
.faicon-database:before {
	content: "\ea15";
}
.faicon-undo:before {
	content: "\ea16";
}
.faicon-redo:before {
	content: "\ea17";
}
.faicon-undo2:before {
	content: "\ea18";
}
.faicon-redo2:before {
	content: "\ea19";
}
.faicon-forward:before {
	content: "\ea1a";
}
.faicon-reply:before {
	content: "\ea1b";
}
.faicon-bubble:before {
	content: "\ea1c";
}
.faicon-bubbles:before {
	content: "\ea1d";
}
.faicon-bubbles2:before {
	content: "\ea1e";
}
.faicon-bubble2:before {
	content: "\ea1f";
}
.faicon-bubbles3:before {
	content: "\ea20";
}
.faicon-bubbles4:before {
	content: "\ea21";
}
.faicon-user:before {
	content: "\ea22";
}
.faicon-users:before {
	content: "\ea23";
}
.faicon-user-plus:before {
	content: "\ea24";
}
.faicon-user-minus:before {
	content: "\ea25";
}
.faicon-user-check:before {
	content: "\ea26";
}
.faicon-user-tie:before {
	content: "\ea27";
}
.faicon-quotes-left:before {
	content: "\ea28";
}
.faicon-quotes-right:before {
	content: "\ea29";
}
.faicon-hour-glass:before {
	content: "\ea2a";
}
.faicon-spinner:before {
	content: "\ea2b";
}
.faicon-spinner2:before {
	content: "\ea2c";
}
.faicon-spinner3:before {
	content: "\ea2d";
}
.faicon-spinner4:before {
	content: "\ea2e";
}
.faicon-spinner5:before {
	content: "\ea2f";
}
.faicon-spinner6:before {
	content: "\ea30";
}
.faicon-spinner7:before {
	content: "\ea31";
}
.faicon-spinner8:before {
	content: "\ea32";
}
.faicon-spinner9:before {
	content: "\ea33";
}
.faicon-spinner10:before {
	content: "\ea34";
}
.faicon-spinner11:before {
	content: "\ea35";
}
.faicon-binoculars:before {
	content: "\ea36";
}
.faicon-search:before {
	content: "\ea37";
}
.faicon-zoom-in:before {
	content: "\ea38";
}
.faicon-zoom-out:before {
	content: "\ea39";
}
.faicon-enlarge:before {
	content: "\ea3a";
}
.faicon-shrink:before {
	content: "\ea3b";
}
.faicon-enlarge2:before {
	content: "\ea3c";
}
.faicon-shrink2:before {
	content: "\ea3d";
}
.faicon-key:before {
	content: "\ea3e";
}
.faicon-key2:before {
	content: "\ea3f";
}
.faicon-lock:before {
	content: "\ea40";
}
.faicon-unlocked:before {
	content: "\ea41";
}
.faicon-wrench:before {
	content: "\ea42";
}
.faicon-equalizer:before {
	content: "\ea43";
}
.faicon-equalizer2:before {
	content: "\ea44";
}
.faicon-cog:before {
	content: "\ea45";
}
.faicon-cogs:before {
	content: "\ea46";
}
.faicon-hammer:before {
	content: "\ea47";
}
.faicon-magic-wand:before {
	content: "\ea48";
}
.faicon-aid-kit:before {
	content: "\ea49";
}
.faicon-bug:before {
	content: "\ea4a";
}
.faicon-pie-chart:before {
	content: "\ea4b";
}
.faicon-stats-dots:before {
	content: "\ea4c";
}
.faicon-stats-bars:before {
	content: "\ea4d";
}
.faicon-stats-bars2:before {
	content: "\ea4e";
}
.faicon-trophy:before {
	content: "\ea4f";
}
.faicon-gift:before {
	content: "\ea50";
}
.faicon-glass:before {
	content: "\ea51";
}
.faicon-glass2:before {
	content: "\ea52";
}
.faicon-mug:before {
	content: "\ea53";
}
.faicon-spoon-knife:before {
	content: "\ea54";
}
.faicon-leaf:before {
	content: "\ea55";
}
.faicon-rocket:before {
	content: "\ea56";
}
.faicon-meter:before {
	content: "\ea57";
}
.faicon-meter2:before {
	content: "\ea58";
}
.faicon-hammer2:before {
	content: "\ea59";
}
.faicon-fire:before {
	content: "\ea5a";
}
.faicon-lab:before {
	content: "\ea5b";
}
.faicon-magnet:before {
	content: "\ea5c";
}
.faicon-bin:before {
	content: "\ea5d";
}
.faicon-bin2:before {
	content: "\ea5e";
}
.faicon-briefcase:before {
	content: "\ea5f";
}
.faicon-airplane:before {
	content: "\ea60";
}
.faicon-truck:before {
	content: "\ea61";
}
.faicon-road:before {
	content: "\ea62";
}
.faicon-accessibility:before {
	content: "\ea63";
}
.faicon-target:before {
	content: "\ea64";
}
.faicon-shield:before {
	content: "\ea65";
}
.faicon-power:before {
	content: "\ea66";
}
.faicon-switch:before {
	content: "\ea67";
}
.faicon-power-cord:before {
	content: "\ea68";
}
.faicon-clipboard:before {
	content: "\ea69";
}
.faicon-list-numbered:before {
	content: "\ea6a";
}
.faicon-list:before {
	content: "\ea6b";
}
.faicon-list2:before {
	content: "\ea6c";
}
.faicon-tree:before {
	content: "\ea6d";
}
.faicon-menu:before {
	content: "\ea6e";
}
.faicon-menu2:before {
	content: "\ea6f";
}
.faicon-menu3:before {
	content: "\ea70";
}
.faicon-menu4:before {
	content: "\ea71";
}
.faicon-cloud:before {
	content: "\ea72";
}
.faicon-cloud-download:before {
	content: "\ea73";
}
.faicon-cloud-upload:before {
	content: "\ea74";
}
.faicon-cloud-check:before {
	content: "\ea75";
}
.faicon-download2:before {
	content: "\ea76";
}
.faicon-upload2:before {
	content: "\ea77";
}
.faicon-download3:before {
	content: "\ea78";
}
.faicon-upload3:before {
	content: "\ea79";
}
.faicon-sphere:before {
	content: "\ea7a";
}
.faicon-earth:before {
	content: "\ea7b";
}
.faicon-link:before {
	content: "\ea7c";
}
.faicon-flag:before {
	content: "\ea7d";
}
.faicon-attachment:before {
	content: "\ea7e";
}
.faicon-eye:before {
	content: "\ea7f";
}
.faicon-eye-plus:before {
	content: "\ea80";
}
.faicon-eye-minus:before {
	content: "\ea81";
}
.faicon-eye-blocked:before {
	content: "\ea82";
}
.faicon-bookmark:before {
	content: "\ea83";
}
.faicon-bookmarks:before {
	content: "\ea84";
}
.faicon-sun:before {
	content: "\ea85";
}
.faicon-contrast:before {
	content: "\ea86";
}
.faicon-brightness-contrast:before {
	content: "\ea87";
}
.faicon-star-empty:before {
	content: "\ea88";
}
.faicon-star-half:before {
	content: "\ea89";
}
.faicon-star-full:before {
	content: "\ea8a";
}
.faicon-heart:before {
	content: "\ea8b";
}
.faicon-heart-broken:before {
	content: "\ea8c";
}
.faicon-man:before {
	content: "\ea8d";
}
.faicon-woman:before {
	content: "\ea8e";
}
.faicon-man-woman:before {
	content: "\ea8f";
}
.faicon-happy:before {
	content: "\ea90";
}
.faicon-happy2:before {
	content: "\ea91";
}
.faicon-smile:before {
	content: "\ea92";
}
.faicon-smile2:before {
	content: "\ea93";
}
.faicon-tongue:before {
	content: "\ea94";
}
.faicon-tongue2:before {
	content: "\ea95";
}
.faicon-sad:before {
	content: "\ea96";
}
.faicon-sad2:before {
	content: "\ea97";
}
.faicon-wink:before {
	content: "\ea98";
}
.faicon-wink2:before {
	content: "\ea99";
}
.faicon-grin:before {
	content: "\ea9a";
}
.faicon-grin2:before {
	content: "\ea9b";
}
.faicon-cool:before {
	content: "\ea9c";
}
.faicon-cool2:before {
	content: "\ea9d";
}
.faicon-angry:before {
	content: "\ea9e";
}
.faicon-angry2:before {
	content: "\ea9f";
}
.faicon-evil:before {
	content: "\eaa0";
}
.faicon-evil2:before {
	content: "\eaa1";
}
.faicon-shocked:before {
	content: "\eaa2";
}
.faicon-shocked2:before {
	content: "\eaa3";
}
.faicon-baffled:before {
	content: "\eaa4";
}
.faicon-baffled2:before {
	content: "\eaa5";
}
.faicon-confused:before {
	content: "\eaa6";
}
.faicon-confused2:before {
	content: "\eaa7";
}
.faicon-neutral:before {
	content: "\eaa8";
}
.faicon-neutral2:before {
	content: "\eaa9";
}
.faicon-hipster:before {
	content: "\eaaa";
}
.faicon-hipster2:before {
	content: "\eaab";
}
.faicon-wondering:before {
	content: "\eaac";
}
.faicon-wondering2:before {
	content: "\eaad";
}
.faicon-sleepy:before {
	content: "\eaae";
}
.faicon-sleepy2:before {
	content: "\eaaf";
}
.faicon-frustrated:before {
	content: "\eab0";
}
.faicon-frustrated2:before {
	content: "\eab1";
}
.faicon-crying:before {
	content: "\eab2";
}
.faicon-crying2:before {
	content: "\eab3";
}
.faicon-point-up:before {
	content: "\eab4";
}
.faicon-point-right:before {
	content: "\eab5";
}
.faicon-point-down:before {
	content: "\eab6";
}
.faicon-point-left:before {
	content: "\eab7";
}
.faicon-warning:before {
	content: "\eab8";
}
.faicon-notification:before {
	content: "\eab9";
}
.faicon-question:before {
	content: "\eaba";
}
.faicon-plus:before {
	content: "\eabb";
}
.faicon-minus:before {
	content: "\eabc";
}
.faicon-info:before {
	content: "\eabd";
}
.faicon-cancel-circle:before {
	content: "\eabe";
}
.faicon-blocked:before {
	content: "\eabf";
}
.faicon-cross:before {
	content: "\eac0";
}
.faicon-checkmark:before {
	content: "\eac1";
}
.faicon-checkmark2:before {
	content: "\eac2";
}
.faicon-spell-check:before {
	content: "\eac3";
}
.faicon-enter:before {
	content: "\eac4";
}
.faicon-exit:before {
	content: "\eac5";
}
.faicon-play2:before {
	content: "\eac6";
}
.faicon-pause:before {
	content: "\eac7";
}
.faicon-stop:before {
	content: "\eac8";
}
.faicon-previous:before {
	content: "\eac9";
}
.faicon-next:before {
	content: "\eaca";
}
.faicon-backward:before {
	content: "\eacb";
}
.faicon-forward2:before {
	content: "\eacc";
}
.faicon-play3:before {
	content: "\eacd";
}
.faicon-pause2:before {
	content: "\eace";
}
.faicon-stop2:before {
	content: "\eacf";
}
.faicon-backward2:before {
	content: "\ead0";
}
.faicon-forward3:before {
	content: "\ead1";
}
.faicon-first:before {
	content: "\ead2";
}
.faicon-last:before {
	content: "\ead3";
}
.faicon-previous2:before {
	content: "\ead4";
}
.faicon-next2:before {
	content: "\ead5";
}
.faicon-eject:before {
	content: "\ead6";
}
.faicon-volume-high:before {
	content: "\ead7";
}
.faicon-volume-medium:before {
	content: "\ead8";
}
.faicon-volume-low:before {
	content: "\ead9";
}
.faicon-volume-mute:before {
	content: "\eada";
}
.faicon-volume-mute2:before {
	content: "\eadb";
}
.faicon-volume-increase:before {
	content: "\eadc";
}
.faicon-volume-decrease:before {
	content: "\eadd";
}
.faicon-loop:before {
	content: "\eade";
}
.faicon-loop2:before {
	content: "\eadf";
}
.faicon-infinite:before {
	content: "\eae0";
}
.faicon-shuffle:before {
	content: "\eae1";
}
.faicon-arrow-up-left:before {
	content: "\eae2";
}
.faicon-arrow-up:before {
	content: "\eae3";
}
.faicon-arrow-up-right:before {
	content: "\eae4";
}
.faicon-arrow-right:before {
	content: "\eae5";
}
.faicon-arrow-down-right:before {
	content: "\eae6";
}
.faicon-arrow-down:before {
	content: "\eae7";
}
.faicon-arrow-down-left:before {
	content: "\eae8";
}
.faicon-arrow-left:before {
	content: "\eae9";
}
.faicon-arrow-up-left2:before {
	content: "\eaea";
}
.faicon-arrow-up2:before {
	content: "\eaeb";
}
.faicon-arrow-up-right2:before {
	content: "\eaec";
}
.faicon-arrow-right2:before {
	content: "\eaed";
}
.faicon-arrow-down-right2:before {
	content: "\eaee";
}
.faicon-arrow-down2:before {
	content: "\eaef";
}
.faicon-arrow-down-left2:before {
	content: "\eaf0";
}
.faicon-arrow-left2:before {
	content: "\eaf1";
}
.faicon-circle-up:before {
	content: "\eaf2";
}
.faicon-circle-right:before {
	content: "\eaf3";
}
.faicon-circle-down:before {
	content: "\eaf4";
}
.faicon-circle-left:before {
	content: "\eaf5";
}
.faicon-tab:before {
	content: "\eaf6";
}
.faicon-move-up:before {
	content: "\eaf7";
}
.faicon-move-down:before {
	content: "\eaf8";
}
.faicon-sort-alpha-asc:before {
	content: "\eaf9";
}
.faicon-sort-alpha-desc:before {
	content: "\eafa";
}
.faicon-sort-numeric-asc:before {
	content: "\eafb";
}
.faicon-sort-numberic-desc:before {
	content: "\eafc";
}
.faicon-sort-amount-asc:before {
	content: "\eafd";
}
.faicon-sort-amount-desc:before {
	content: "\eafe";
}
.faicon-command:before {
	content: "\eaff";
}
.faicon-shift:before {
	content: "\eb00";
}
.faicon-ctrl:before {
	content: "\eb01";
}
.faicon-opt:before {
	content: "\eb02";
}
.faicon-checkbox-checked:before {
	content: "\eb03";
}
.faicon-checkbox-unchecked:before {
	content: "\eb04";
}
.faicon-radio-checked:before {
	content: "\eb05";
}
.faicon-radio-checked2:before {
	content: "\eb06";
}
.faicon-radio-unchecked:before {
	content: "\eb07";
}
.faicon-crop:before {
	content: "\eb08";
}
.faicon-make-group:before {
	content: "\eb09";
}
.faicon-ungroup:before {
	content: "\eb0a";
}
.faicon-scissors:before {
	content: "\eb0b";
}
.faicon-filter:before {
	content: "\eb0c";
}
.faicon-font:before {
	content: "\eb0d";
}
.faicon-ligature:before {
	content: "\eb0e";
}
.faicon-ligature2:before {
	content: "\eb0f";
}
.faicon-text-height:before {
	content: "\eb10";
}
.faicon-text-width:before {
	content: "\eb11";
}
.faicon-font-size:before {
	content: "\eb12";
}
.faicon-bold:before {
	content: "\eb13";
}
.faicon-underline:before {
	content: "\eb14";
}
.faicon-italic:before {
	content: "\eb15";
}
.faicon-strikethrough:before {
	content: "\eb16";
}
.faicon-omega:before {
	content: "\eb17";
}
.faicon-sigma:before {
	content: "\eb18";
}
.faicon-page-break:before {
	content: "\eb19";
}
.faicon-superscript:before {
	content: "\eb1a";
}
.faicon-subscript:before {
	content: "\eb1b";
}
.faicon-superscript2:before {
	content: "\eb1c";
}
.faicon-subscript2:before {
	content: "\eb1d";
}
.faicon-text-color:before {
	content: "\eb1e";
}
.faicon-pagebreak:before {
	content: "\eb1f";
}
.faicon-clear-formatting:before {
	content: "\eb20";
}
.faicon-table:before {
	content: "\eb21";
}
.faicon-table2:before {
	content: "\eb22";
}
.faicon-insert-template:before {
	content: "\eb23";
}
.faicon-pilcrow:before {
	content: "\eb24";
}
.faicon-ltr:before {
	content: "\eb25";
}
.faicon-rtl:before {
	content: "\eb26";
}
.faicon-section:before {
	content: "\eb27";
}
.faicon-paragraph-left:before {
	content: "\eb28";
}
.faicon-paragraph-center:before {
	content: "\eb29";
}
.faicon-paragraph-right:before {
	content: "\eb2a";
}
.faicon-paragraph-justify:before {
	content: "\eb2b";
}
.faicon-indent-increase:before {
	content: "\eb2c";
}
.faicon-indent-decrease:before {
	content: "\eb2d";
}
.faicon-share:before {
	content: "\eb2e";
}
.faicon-new-tab:before {
	content: "\eb2f";
}
.faicon-embed:before {
	content: "\eb30";
}
.faicon-embed2:before {
	content: "\eb31";
}
.faicon-terminal:before {
	content: "\eb32";
}
.faicon-share2:before {
	content: "\eb33";
}
.faicon-mail:before {
	content: "\eb34";
}
.faicon-mail2:before {
	content: "\eb35";
}
.faicon-mail3:before {
	content: "\eb36";
}
.faicon-mail4:before {
	content: "\eb37";
}
.faicon-amazon:before {
	content: "\eb38";
}
.faicon-google:before {
	content: "\eb39";
}
.faicon-google2:before {
	content: "\eb3a";
}
.faicon-google3:before {
	content: "\eb3b";
}
.faicon-google-plus:before {
	content: "\eb3c";
}
.faicon-google-plus2:before {
	content: "\eb3d";
}
.faicon-google-plus3:before {
	content: "\eb3e";
}
.faicon-hangouts:before {
	content: "\eb3f";
}
.faicon-google-drive:before {
	content: "\eb40";
}
.faicon-facebook:before {
	content: "\eb41";
}
.faicon-facebook2:before {
	content: "\eb42";
}
.faicon-instagram:before {
	content: "\eb43";
}
.faicon-whatsapp:before {
	content: "\eb44";
}
.faicon-spotify:before {
	content: "\eb45";
}
.faicon-telegram:before {
	content: "\eb46";
}
.faicon-twitter:before {
	content: "\eb47";
}
.faicon-vine:before {
	content: "\eb48";
}
.faicon-vk:before {
	content: "\eb49";
}
.faicon-renren:before {
	content: "\eb4a";
}
.faicon-sina-weibo:before {
	content: "\eb4b";
}
.faicon-rss:before {
	content: "\eb4c";
}
.faicon-rss2:before {
	content: "\eb4d";
}
.faicon-youtube:before {
	content: "\eb4e";
}
.faicon-youtube2:before {
	content: "\eb4f";
}
.faicon-twitch:before {
	content: "\eb50";
}
.faicon-vimeo:before {
	content: "\eb51";
}
.faicon-vimeo2:before {
	content: "\eb52";
}
.faicon-lanyrd:before {
	content: "\eb53";
}
.faicon-flickr:before {
	content: "\eb54";
}
.faicon-flickr2:before {
	content: "\eb55";
}
.faicon-flickr3:before {
	content: "\eb56";
}
.faicon-flickr4:before {
	content: "\eb57";
}
.faicon-dribbble:before {
	content: "\eb58";
}
.faicon-behance:before {
	content: "\eb59";
}
.faicon-behance2:before {
	content: "\eb5a";
}
.faicon-deviantart:before {
	content: "\eb5b";
}
.faicon-500px:before {
	content: "\eb5c";
}
.faicon-steam:before {
	content: "\eb5d";
}
.faicon-steam2:before {
	content: "\eb5e";
}
.faicon-dropbox:before {
	content: "\eb5f";
}
.faicon-onedrive:before {
	content: "\eb60";
}
.faicon-github:before {
	content: "\eb61";
}
.faicon-npm:before {
	content: "\eb62";
}
.faicon-basecamp:before {
	content: "\eb63";
}
.faicon-trello:before {
	content: "\eb64";
}
.faicon-wordpress:before {
	content: "\eb65";
}
.faicon-joomla:before {
	content: "\eb66";
}
.faicon-ello:before {
	content: "\eb67";
}
.faicon-blogger:before {
	content: "\eb68";
}
.faicon-blogger2:before {
	content: "\eb69";
}
.faicon-tumblr:before {
	content: "\eb6a";
}
.faicon-tumblr2:before {
	content: "\eb6b";
}
.faicon-yahoo:before {
	content: "\eb6c";
}
.faicon-yahoo2:before {
	content: "\eb6d";
}
.faicon-tux:before {
	content: "\eb6e";
}
.faicon-appleinc:before {
	content: "\eb6f";
}
.faicon-finder:before {
	content: "\eb70";
}
.faicon-android:before {
	content: "\eb71";
}
.faicon-windows:before {
	content: "\eb72";
}
.faicon-windows8:before {
	content: "\eb73";
}
.faicon-soundcloud:before {
	content: "\eb74";
}
.faicon-soundcloud2:before {
	content: "\eb75";
}
.faicon-skype:before {
	content: "\eb76";
}
.faicon-reddit:before {
	content: "\eb77";
}
.faicon-hackernews:before {
	content: "\eb78";
}
.faicon-wikipedia:before {
	content: "\eb79";
}
.faicon-linkedin:before {
	content: "\eb7a";
}
.faicon-linkedin2:before {
	content: "\eb7b";
}
.faicon-lastfm:before {
	content: "\eb7c";
}
.faicon-lastfm2:before {
	content: "\eb7d";
}
.faicon-delicious:before {
	content: "\eb7e";
}
.faicon-stumbleupon:before {
	content: "\eb7f";
}
.faicon-stumbleupon2:before {
	content: "\eb80";
}
.faicon-stackoverflow:before {
	content: "\eb81";
}
.faicon-pinterest:before {
	content: "\eb82";
}
.faicon-pinterest2:before {
	content: "\eb83";
}
.faicon-xing:before {
	content: "\eb84";
}
.faicon-xing2:before {
	content: "\eb85";
}
.faicon-flattr:before {
	content: "\eb86";
}
.faicon-foursquare:before {
	content: "\eb87";
}
.faicon-yelp:before {
	content: "\eb88";
}
.faicon-paypal:before {
	content: "\eb89";
}
.faicon-chrome:before {
	content: "\eb8a";
}
.faicon-firefox:before {
	content: "\eb8b";
}
.faicon-IE:before {
	content: "\eb8c";
}
.faicon-edge:before {
	content: "\eb8d";
}
.faicon-safari:before {
	content: "\eb8e";
}
.faicon-opera:before {
	content: "\eb8f";
}
.faicon-file-pdf:before {
	content: "\eb90";
}
.faicon-file-openoffice:before {
	content: "\eb91";
}
.faicon-file-word:before {
	content: "\eb92";
}
.faicon-file-excel:before {
	content: "\eb93";
}
.faicon-libreoffice:before {
	content: "\eb94";
}
.faicon-html-five:before {
	content: "\eb95";
}
.faicon-html-five2:before {
	content: "\eb96";
}
.faicon-css3:before {
	content: "\eb97";
}
.faicon-git:before {
	content: "\eb98";
}
.faicon-codepen:before {
	content: "\eb99";
}
.faicon-svg:before {
	content: "\eb9a";
}
.faicon-IcoMoon:before {
	content: "\eb9b";
}
